<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="__PUBLIC__/css/honeypot.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="warp">
    <div id="top">
        <div class="top-info">
            <div class="top-log">
                <img src="__PUBLIC__/images/logo.png" />
                <span>蜜罐</span>
            </div>
            <?php if($user_nickname): ?>
                <p class="user-information">
                    <span>
                        <i>Hi!~</i>
                        <i class="user-nickname">{$user_nickname}</i>
                    </span>
                    <span class="index-login-out">注销</span>
                </p>
            <?php else: ?>
                <div class="sign-login">
                    <span class="sign">注册</span>
                    <span class="login">登录</span>
                </div>
            <?php endif; ?>
            <h1 class="top-title">蜜罐，陪你做生活中的设计师</h1>
            <div class="top-search">
                <input class="search-text" type="text" placeholder="搜你喜欢的" />
                <i class="btn-search">
                    <img src="__PUBLIC__/images/search.png" >
                </i>
            </div>
            <div class="hot-tag">
                <span>热门搜索:</span>
                <span><a>植物</a></span>
                <span><a>插画</a></span>
                <span><a>插画</a></span>
            </div>
        </div>
    </div>