<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="__PUBLIC__/JS/jquery-3.1.1.js"></script>
</head>
<body>
	<div class="index">
		<div class="login_box">
			<form>
				<div class="input_box">
					<span>账号</span>
					<input class="input_uid" type="text" placeholder="电话/邮箱" />
					<p class="input_uid_tips"></p>
				</div>
				<div class="input_box">
					<span>密码</span>
					<input class="input_upwd" type="password" placeholder="请输入密码" />
					<p class="input_upwd_tips"></p>
				</div>
			</form>
			<div class="login_submit">登录</div>
		</div>
	</div>
</body>
</html>