			<div class="pop_up">
				<h3>所有规则：</h3>
				<div class="all_rule_list">
				<volist name='res' id='vo'>
					<div class="rule_group">
						<p class="controller_name">{$key}：</p>
						<volist name="vo" id="vl">
							<span class="rule_name {$vl.css_style}" rule_id="{$vl.rule_id}">{$vl.title}</span>
						</volist>
						
					</div>
				</volist>
					
				</div>
				<div class="operate_bar">
					<span class="save_operate" group_id="{$group_id}">保存</span><span class="exit_operate">退出</span>
				</div>
			</div>