body,div,input,p,i,span,em,a,ul,li{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Microsoft YaHei';
}
input{
    outline: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
i,em{
    font-style: normal;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(62,63,64,0.2);
}
.pagination-container{
    text-align: center;
    font-size: 16px;
    line-height: 100px;
    height: 100px;
    background: #FFFFFF;
}
#tips-modal{
    width: 200px;
    height: auto;
    box-shadow: 0 2px 6px #999999;
    position: fixed;
    z-index: -99;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    background: #eaff00;
    transition: all 0.5s;
    opacity: 0;
}
#tips-modal .tips-content{
    height: auto;
    padding: 12px 12px 24px 12px;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
}
#tips-modal .tips-btn{
    height: auto;
    text-align: center;
    vertical-align: middle;
}
.tips-btn span{
    margin-bottom: 10px;
    font-size: 14px;
    background: #FFFFFF;
    color: #eaff00;
    border-radius: 8px;
}
#login-container{
    margin: 0;
    padding: 0;
    width: inherit;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
.form-container{
    width: 500px;
    margin: -100% auto 0;
    background: #FFFFFF;
    border-radius: 8px;
    transition: all 0.5s;
    padding-bottom: 30px;
    opacity: 1;
    position: relative;
}
.form-container .error-tips{
    background: #FFFFFF;
    border: 1px solid #5e5e5e;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
    z-index: -10;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
}
.form-container p{
    text-align: center;
    padding: 12px 0;
}
.form-container p img{
    filter: drop-shadow(0px 0px 0px #f9fc0a);
    display: inline-block;
    vertical-align: middle;
}
.form-container p span{
    font-size: 38px;
    display: inline-block;
    vertical-align: middle;
}
.form-container form{
    width: inherit;
    margin-top: 20px;
}
.form-container form div{
    padding: 0 100px;
    margin-bottom: 18px;
}
.form-container form div input{
    width: 100%;
    font-size: 18px;
    border: 1px solid #999999;
    display: block;
    vertical-align: middle;
    line-height: 32px;
    border-radius: 0;
    outline: none;!important;
    height: auto;
    padding: 0 6px;
    color: #999999;
}
.form-container form div p{
    margin: 0;
    line-height: 20px;
    height: 20px;
    padding: 0 6px;
    text-align: left;
    color: darkred;
}
.form-container .submit-container span{
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    color: #FFFFFF;
    background: #f9fc0a;
    border: none;
    padding: 8px 20px;
    font-size: 20px;

}
.form-container .submit-container{
    text-align: center;
}
.form-container .submit-container span:hover{
    color: #FFFFFF;
}


#sign-container{
    margin: 0;
    padding: 0;
    width: inherit;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
#sign-container .sign-form{
    width: 500px;
    margin: -100% auto 0;
    background: #FFFFFF;
    border-radius: 8px;
    transition: all 0.5s;
    padding-bottom: 30px;
    opacity: 1;
}

#footer{
    width: 100%;
    background: black;
    height: 100px;
}
#footer .log-container{
    height:inherit;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
}
.log-container img{
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
}
.log-container span{
    font-size: 30px;
    color: #FFFFFF;
    vertical-align: middle;
    display: inline-block;
    font-weight: 200;
}


.index-search-text::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(239,239,239,0.7);
    font-weight: 200;
}
.index-search-text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(239,239,239,0.7);
    font-weight: 200;
}
.index-search-text::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(239,239,239,0.7);
    font-weight: 200;
}
.index-search-text:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(239,239,239,0.7);
    font-weight: 200;
}
.search-key-word::-webkit-input-placeholder { /* WebKit browsers */
    color: #999999;
    font-weight: 300;
}
.search-key-word:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999999;
    font-weight: 300;
}
.search-key-word::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999999;
    font-weight: 300;
}
.search-key-word:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999999;
    font-weight: 300;
}
#warp{
    width: 100%;
}
#top{
    width: 100%;
    height: 720px;
    background-image:url("../images/backgroundImg.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 750px;
    padding-top: 30px;
    overflow: hidden;
}
#top .top-info{
    width: 100%;
    overflow: hidden;
    color: #FFFFFF;
    font-weight: 200;
}
.top-info .top-log{
    margin-left: 360px;
    float: left;
    user-select: none;
}
.top-info .top-log a img{
    width: 70px;
    height: 70px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
}
.top-info .top-log a span{
    vertical-align: middle;
    line-height: 70px;
    display: inline-block;
    font-size: 42px;
    color: #FFFFFF;
}
.top-info .sign-login{
    float: right;
    margin-right: 360px;
    padding-top: 2px;
}
.top-info .sign-login span{
    padding: 0 12px;
    line-height: 32px;
    vertical-align: middle;
    font-size: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 38px;
    border:1px solid;
    cursor: pointer;
}
.top-info .sign-login .sign{
    background: rgba(228,4,4,0.87);
    border-color: rgba(228,4,4,0.87);
}
.top-info .sign-login .login{
    border-color:  #FFFFFF;
}
.top-info .user-information{
    float: right;
    margin-right: 360px;
    padding-top: 2px;
}
.user-information span{
    line-height: 32px;
    vertical-align: middle;
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
}
.user-information span a{
    color: #FFFFFF;
}
.user-information span a .user-nickname{
    margin-left: 6px;
}
.user-information .index-login-out{
    padding: 0 12px;
    border:1px solid rgba(228,4,4,0.87);
    border-radius: 5px;
    margin-left: 16px;
    color: rgba(228,4,4,0.87);
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}
#top .top-title{
    margin: 150px 0 60px 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 300;
}
#top .top-search{
    border: 4px solid rgba(239,239,239,0.7);
    width: 800px;
    margin: 0 auto;
}
.top-search input{
    background: none;
    border: none;
    line-height: 40px;
    font-size: 25px;
    color: rgba(239,239,239,0.7);
    text-indent: 10px;
    display: inline-block;
    width: calc(100% - 50px);
    vertical-align: middle;
    font-weight: 200;
}
.index-btn-search{
    display: inline-block;
    vertical-align: middle;
}
.index-btn-search img{
    width: 36px;
    height: 36px;
}
#top .hot-tag{
    width: 800px;
    margin: 16px auto;
    overflow: hidden;
}
.hot-tag span{
    color: #efefef;
    font-size: 25px;
    font-weight: 200;
    margin-right: 16px;
}
.hot-tag span a{
    color: #efefef;
}
.hot-tag span a:hover{
    color: #efefef;
    text-decoration: none;
}
#middle-content{
    margin: 0 360px 50px;
    overflow: hidden;
}
#middle-content .recommend-line{
    width: inherit;
    margin-top: 54px;
}
.recommend-line i{
    height: 4px;
    width: 480px;
    background: rgba(153,153,153,0.3);
    vertical-align: middle;
    display: inline-block;
}
.recommend-line span{
    font-size: 30px;
    color: #999999;
    width: calc(100% - 970px);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
#middle-content .hot-cases{
    width: inherit;
    margin-top: 100px;
    overflow: hidden;
}
.hot-cases .cases-container{
    width: 50%;
    height: 300px;
    float: left;

}
.cases-container .cases-details{
    width: 50%;
    height: 300px;
    float: left;
}
.cases-container .cases-info-details{
    background: #FAFAFA;
}
.cases-details a{
    width: 100%;
    height: inherit;
}
.cases-details a img{
    width: 100%;
    height: inherit;

}
.cases-details  p{
    padding-left: 16px;
}
.cases-details .cases-sort{
    color: #d0d0d0;
}

.cases-details .cases-sort i{
    font-size: 70px;
}
.cases-details .cases-sort em{
    font-size: 35px;
}
.cases-details .cases-title{
    font-size: 25px;
    margin-top: 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.cases-details .cases-count{
    font-size: 16px;
    margin-top: 26px;
    color: #999999;
}
.cases-details .cases-author{
    margin-top: 16px;
}
.cases-details .cases-author span{
    font-size: 16px;
    color: #999999;
    padding-left: 184px;
}
.cases-details .cases-author a{
    font-size: 24px;
    display: block;
    padding-right: 24px;
    text-align: right;
    margin-top: 10px;
    color: black;
}


/*通用的顶部*/
#warp .common-top{
    width: 100%;
    background: #FFFFFF;
    overflow: hidden;
    height: 85px;
    margin-top: 15px;
}
.common-top .common-log{
    float: left;
    margin-left: 210px;
}
.common-log a img{
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.common-log span{
    vertical-align: middle;
    line-height: 70px;
    display: inline-block;
    font-size: 42px;
}
.common-sign-login{
    float: right;
    margin-right: 210px;
    padding-top: 6px;
}
.common-sign-login span{
    padding: 0 12px;
    line-height: 32px;
    vertical-align: middle;
    font-size: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 38px;
    border:1px solid;
    cursor: pointer;
    font-weight: 500;
}
.common-sign-login .sign{
    background: rgba(228,4,4,0.87);
    border-color: rgba(228,4,4,0.87);
    color: #FFFFFF;
}
.common-sign-login .login{
    border-color:  #FFFFFF;
}
.common-user-information{
    float: right;
    margin-right: 210px;
    padding-top: 6px;
}
.common-user-information span{
    line-height: 32px;
    vertical-align: middle;
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
}
.common-user-information span a{
  color: inherit;
}
.common-user-information .index-login-out{
    padding: 0 12px;
    border:1px solid rgba(228,4,4,0.87);
    border-radius: 5px;
    margin-left: 16px;
    color: rgba(228,4,4,0.87);
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}
#warp .search-middle{
    width: inherit;
    height: auto;
    background: #d0d0d0;
    overflow: hidden;
}
.search-middle .search-warp{
        margin: 0 200px;
}
.search-warp .search-box{
    margin: 34px 10px;
    height: auto;
    overflow: hidden;
    background: #FFFFFF;
}
.search-box .search-input-container{
    margin: 24px;
    border-radius: 10px;
    height: 56px;
    border: 2px solid #d0d0d0;
    padding: 8px;
    overflow: inherit;
}
.search-input-container .search-key-word{
    height: 34px;
    border: none;
    font-size: 20px;
    line-height: 34px;
    width: calc(100% - 16px - 34px);
    color: #999999;
}
.search-input-container .search-btn{
    width: 34px;
    height: 34px;
    display: block;
    float: right;
    cursor: pointer;
}
.search-box .search-info{
    margin: 0 32px 32px 32px;
    overflow: hidden;
    line-height: 30px;
}
.search-info .search-count{
    float: left;
    margin: 0;
}
.search-info .search-type{
    float: right;
    font-size: 14px;
    color: #444444;
}
.search-type i{
    font-size: 14px;
    color: #444444;
}
.search-info .order-type-active{
    color: #fe0304;
}
.search-type span{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.search-warp .search-content-box{
    width: inherit;
    height: auto;
    overflow: hidden;
}
.cases-list{
    width: 230px;
    height: 300px;
    margin: 0 10px 20px;
    float: left;
    box-shadow: 0 2px 6px #999999;
}
.publish-cases img{
    width: 68px;
    height: 68px;
    margin: 100px auto 20px;
    display: block;
}
.publish-cases{
    background: #FFFFFF;
}
.publish-cases p{
    text-align: center;
    font-size: 18px;
    color: #999999;
}
.cases-list a .case-img{
    width: 230px;
    height: 240px;
}
.cases-list .operate-box{
    width: inherit;
    height: 60px;
    background: #FFFFFF;
    overflow: inherit;
}
.operate-box .cases-title{
    font-size: 12px;
    color: #000000;
    margin: 0 0 0 16px;
    line-height: 30px;
}
.operate-box div{
    height: 30px;
    float: left;
    margin-left: 16px;
}
.operate-box div img{
    display:inline-block;
    vertical-align:middle;
    text-align: center;
    width: 16px;
}
.operate-box div span{
    display:inline-block;
    vertical-align:middle;
    text-align: center;
    font-size: 12px;
    color: #999999;
}
#info-warp{
    width: inherit;
    height: auto;
    overflow: hidden;
    background: #d0d0d0;
}
#info-warp{
    width: inherit;
    height: auto;
    overflow: hidden;
    background: #d0d0d0;
}
#info-warp #info-content{
    margin: 0 210px;
}
#info-content .user-info-container{
    width: inherit;
    height: 300px;
    background: #FFFFFF;
    margin-top: 80px;
    margin-bottom: 50px;
}
.user-info-container .user-info{
    height: 220px;
    width: inherit;
}
.user-info .info-photo-position{
    width: 250px;
    height: 220px;
    margin: 0 60px;
    position: relative;
    float: left;
}
.info-photo-position img{
    width: 250px;
    height: 250px;
    position: absolute;
    display: block;
    left: 0;
    top: -30px;
}
.user-info .info-nickname{
    float: left;
    margin-top: 30px;
    width: 800px;
    font-size: 40px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.user-info .info-message{
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}
.info-message img{
    width: 40px;
    vertical-align: middle;
}
.info-message i{
    vertical-align: middle;
    font-size: 18px;
    color: #999999;
}
.user-info-container .user-operate-data{
    height: 80px;
    width: 250px;
    overflow: hidden;
    margin-left: 60px;
}
.user-operate-data div{
    height: inherit;
    width: 50%;
    float: left;
}
.user-operate-data div p {
    height: 50%;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 26px;
    margin: 0;
    color: #6c4444;
}
.user-operate-data div span {
    height: 50%;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin: 0;
    color: #999999;
    display: block;
}
#info-warp #user-publish-cases{
    margin: 0 200px;
    height: auto;
    overflow: hidden;
}
#release-warp{
    width: inherit;
    height: auto;
    overflow: hidden;
    background: #d0d0d0;
}
#release-warp .release-content{
    margin: 0 210px;
    overflow: hidden;
}
.release-content .release-title{
    width: inherit;
    height: 130px;
    margin: 40px 0;
    background: #FFFFFF;
}
.release-title p{
    padding: 0 30px;
    line-height: 130px;
    font-size: 30px;
    color: #000000;
}
.release-content .release-info{
    width: inherit;
    height: auto;
    background: #FFFFFF;
    margin-bottom: 40px;
}
.release-info .release-info-title{
    line-height: 100px;
    padding: 0 30px;
    border-bottom: 1px solid #d0d0d0;
    font-size: 24px;
    color: #000000;
    margin: 0;
}
.release-info .release-info-form{
    width: inherit;
    overflow: hidden;
}
.release-info-form .form-group{
    margin: 30px 60px;
}
.form-group .release-tips{
    font-size: 12px;
    color: #fe0304;
    margin-bottom: 6px;
}
.release-content .release-image{
    width: inherit;
    height: auto;
    overflow: hidden;
    background: #FFFFFF;
    margin-bottom: 40px;
}
.release-image .release-image-title{
    height: 100px;
    padding: 0 30px;
    border-bottom: 1px solid #d0d0d0;
    line-height: 100px;
}
.release-image-title span{
    display: inline-block;
    font-size: 24px;
    color: #000000;
    vertical-align: middle;
    margin-right: 40px;
}
.release-image-title i{
    display: inline-block;
    font-size: 18px;
    color: #a9a9a9;
    vertical-align: middle;
}
.release-image .release-image-container{
    width: inherit;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 30px 30px;
}
.release-image-container .image-list{
    width: 240px;
    height: 240px;
    float: left;
    margin: 30px 20px;
    position: relative;
}
.image-list .remove-cases-image{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 25px;
    height: 25px;
    z-index: 9;
    /*background-image: url();*/
    /*background-size: 25px 25px;*/
    /*background-position:center;*/
    background:url(../images/remove.png) no-repeat center;
    cursor: pointer;
}
.image-list img{
    width: inherit;
    height: inherit;
}
.release-image-container .upload-image{
    border: 1px solid #d0d0d0;
    width: 240px;
    height: 240px;
    float: left;
    margin: 30px 20px;
}
.upload-image img{
    width: 54px;
    height: 54px;
    display: block;
    margin: 50px auto 10px;
}
.upload-image p{
    text-align: center;
    font-size: 16px;
    color: #999999;
}
.upload-image span{
    display: block;
    font-size: 12px;
    padding: 10px 8px;
    text-align: center;
    color: #fe0304;

}
.release-operate-container{
    width: inherit;
    height: auto;
    overflow: hidden;
    margin: 30px 0;
}
.release-operate-container span{
    padding: 16px 38px;
    color: #FFFFFF;
    background: #eaff00;
    font-size: 28px;
}
.release-operate-container span:hover{
    color: #FFFFFF;
}
#cases-warp{
    width: inherit;
    height: auto;
    overflow: hidden;
    background: #d0d0d0;
}
#cases-warp #cases-details{
    margin: 30px 210px;
    background: #ffffff;
}
#cases-warp .cases-details-synopsis{
    padding: 30px 400px;
    text-align: center;
    font-size: 18px;
    color: #bbbbbb;

}
#cases-details .cases-writer{
    height: 120px;
    overflow: hidden;
}
.cases-writer .cases-title{
    float: left;
    margin-left: 38px;
}
.cases-writer .cases-title p{
    font-size: 24px;
    color: #000000;
    margin-top: 18px;
    margin-bottom: 20px;
}
.cases-writer .cases-title span{
    display: block;
    font-size: 14px;
    color: #bbbbbb;
    margin-bottom: 10px;
    overflow: hidden;
}
.cases-writer .cases-writer-info{
    float: right;
    height: 100%;
    overflow: hidden;
}
.cases-writer .cases-writer-info div{
    float: left;
    height: 100%;
    margin-right: 30px;
}
.cases-writer .cases-writer-info .cases-writer-photo {
    width: 100px;
    position: relative;
}
.cases-writer .cases-writer-info .cases-writer-nickname{
    display: table;
}
.cases-writer-info div img{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.cases-writer-info div span{
    font-size: 24px;
    color: #000000;
    display: table-cell;
    vertical-align: middle;
    max-width: 150px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.cases-writer .cases-data{
    float: right;
    margin-right: 100px;
    overflow: hidden;
    height: 100%;
    padding-top: 80px;
}
.cases-data div{
    float: left;
    height: 40px;
    margin-left: 50px;
    line-height: 40px;
}
.cases-data div img{
    width: 17px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.cases-data div span{
    font-size: 12px;
    color: #999999;
}
#cases-warp .cases-content{
    margin: 50px 210px;
    background: #ffffff;
    overflow: hidden;
}
.cases-content .is_buy{
    width: 800px;
    margin:18px auto 0;
}
.cases-content .is_buy p{
    color: #000000;
    font-size: 24px;
}
.cases-content>div{
    width: 800px;
    display: block;
    margin: 30px auto 50px;
    position: relative;
}
.cases-content>div>img{
    width: 100%;
}
.cases-content>div>.buy-cases{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.5);
}
.buy-cases>.buy-cases-container{
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.buy-cases-container>img{
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.buy-cases-container>p{
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin: 10px auto;
}
#cases-warp .cases-comment{
    margin: 50px 210px;
    background: #ffffff;
    overflow: hidden;
}
.cases-comment .cases-comment-container{
    overflow: hidden;
}
.cases-comment-container .comment-list{
    padding: 30px 30px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c2c2c2;
}
.comment-list .comment-info{
    display: block;
    float: left;
    width: calc(100% - 170px);
}
.comment-list img{
    display: block;
    width: 140px;
    height: 140px;
    margin-right: 30px;
    float: left;
}
.comment-user-info span{
    display: inline-block;
    line-height: 100px;
    font-size: 30px;
}
.comment-info .info-user-nickname{
    line-height: 100px;
    font-size: 30px;
}
.comment-info .comment-content{
    font-size: 20px;
    color: #444444;
    margin-bottom: 30px;
}
.comment-info .comment-created{
    font-size: 16px;
    color: #a8a8a8;
    text-align: right;
}
.comment-info .join-comment-input{
    width: 100%;
}
.join-comment-input textarea{
    width: 100%;
    border: 1px solid #cccccc;
    background: #f2f2f2;
    border-radius: 4px;
    font-size: 18px;
    line-height: 24px;
    color: #a9a9a9;
    padding: 12px;
}
.comment-info .join-comment-btn{
    width: 100%;
    text-align: right;
    margin-top: 30px;
}
.join-comment-btn .comment-cannot-submit{
    font-size: 20px;
    color: #a9a9a9;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background: #f2f2f2;
}
.join-comment-btn .comment-cannot-submit:hover{
    color:#a9a9a9;
}
.join-comment-btn .comment-can-submit{
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #00c8e6;
    color: #fff;
    background: #00c8e6;
}
.join-comment-btn .comment-can-submit:hover{
    color: #fff;
    background: rgba(0,200,230,0.8);
}