<include file="Layouts:header"/>
<div class="common-top">
    <div class="common-log">
        <a href="{:U('Index/index')}"><img src="__PUBLIC__/images/logo1.jpg" /></a>
        <span>蜜罐</span>
    </div>
    <?php if($user_nickname): ?>
    <div class="common-user-information">
        <span>
            <i>Hi!~</i>
            <a href="{:U('Index/userInfo')}"><i class="user-nickname">{$user_nickname}</i></a>
        </span>
        <span class="index-login-out">注销</span>
    </div>
    <?php else: ?>
    <div class="common-sign-login">
        <span class="sign">注册</span>
        <span class="login">登录</span>
    </div>
    <?php endif; ?>
</div>
<div id="info-warp">
    <div id="info-content">
        <div class="user-info-container">
            <div class="user-info">
                <span class="info-photo-position">
                    <img src="{$user_photo}">
                </span>
                <span class="info-nickname">{$user_nickname}</span>
                <!--<span class="info-message">-->
                <!--<img src="__PUBLIC__/images/message.jpg">-->
                <!--<i>34</i>-->
                <!--</span>-->
            </div>
            <div class="user-operate-data">
                <div class="user-collect-data">
                    <a href="http://localhost/honeypot/index.php/Home/Index/getCollectList"><p>{$collectCount}</p></a>
                    <span>收藏</span>
                </div>
                <div class="user-publish-data">
                    <a href="http://localhost/honeypot/index.php/Home/Index/userInfo"><p>{$releaseCount}</p></a>
                    <span>发布</span>
                </div>
            </div>
        </div>
    </div>
    <div id="user-publish-cases">
        <volist name="cases" id="vl">
            <div class="user-publish-list cases-list">
                <a href="http://localhost/honeypot/index.php/Home/Index/getCases?cases_id={$vl['id']}">
                    <img class="case-img" src="{$vl['cover_img']}">
                </a>
                <div class="operate-box">
                    <p class="cases-title">{$vl['title']}</p>
                    <div>
                        <img src="__PUBLIC__/images/collect.jpg">
                        <span>{$vl['collect_count']}</span>
                    </div>
                    <div>
                        <img src="__PUBLIC__/images/comment.jpg">
                        <span>{$vl['comment_count']}</span>
                    </div>
                </div>
            </div>
        </volist>
        <div class="publish-cases cases-list">
            <a href="{:U('Index/releaseCases')}"><img src="__PUBLIC__/images/publish.jpg"></a>
            <p>发布作品</p>
        </div>
    </div>
    <div class="pagination-container">
        <div class="pagination">
            {$show}
        </div>
    </div>
</div>
<div class="message-modal">

</div>
<include file="Layouts:footer"/>