<include file="Layouts:header"/>
<div class="common-top">
    <div class="common-log">
        <a href="{:U('Index/index')}"><img src="__PUBLIC__/images/logo1.jpg" /></a>
        <span>蜜罐</span>
    </div>
    <?php if($user_nickname): ?>
    <div class="common-user-information">
        <span>
            <i>Hi!~</i>
            <a href="{:U('Index/userInfo')}"><i class="user-nickname">{$user_nickname}</i></a>
        </span>
        <span class="index-login-out">注销</span>
    </div>
    <?php else: ?>
    <div class="common-sign-login">
        <span class="sign">注册</span>
        <span class="login">登录</span>
    </div>
    <?php endif; ?>
</div>
<div id="cases-warp">
    <div id="cases-details">
        <div class="cases-writer">
            <div class="cases-title">
                <p>{$cases['title']}</p>
                <span><?php echo date('Y-m-d H:i:s',$cases['created_at'])?></span>
            </div>
            <div class="cases-writer-info">
                <div class="cases-writer-photo">
                    <img src="{$cases['photo']}">
                </div>
                <div class="cases-writer-nickname">
                    <span>{$cases['nickname']}</span>
                </div>
            </div>
            <div class="cases-data">
                <div>
                    <?php if($is_collect): ?>
                    <img src="__PUBLIC__/images/is_collect.jpg" class="cancel-collect" cases_id="{$cases_id}">
                    <?php else: ?>
                    <img src="__PUBLIC__/images/collect.jpg" class="increase-collect" cases_id="{$cases_id}">
                    <?php endif; ?>
                    <span>{$cases['collect_count']}</span>
                </div>
                <div>
                    <img src="__PUBLIC__/images/comment.jpg">
                    <span>{$cases['comment_count']}</span>
                </div>
            </div>
        </div>
        <p class="cases-details-synopsis">{$cases['synopsis']}</p>
    </div>
    <div class="cases-content">
        <div class="is_buy">
            <p>
                <?php
                        switch ($cases_type){
                            case 1:
                                echo "免费作品(拥有者)";
                                break;
                            case 2:
                                echo "免费作品(拥有者)";
                                break;
                            case 3:
                                echo "免费作品";
                                break;
                            case 4:
                                echo "收费作品(已购买)";
                                break;
                            case 5:
                                echo "收费作品(".$cases['integral']."积分)";
                                break;
                            default:
                                echo "收费作品(".$cases['integral']."积分)";
                        }
                    ?>
            </p>
        </div>
        <?php if($cases['images']): ?>
            <volist name="cases['images']" id="vl">
                <div>
                    <img src="{$vl['image']}">
                </div>
            </volist>
        <?php else: ?>
            <div>
                <img src="{$cases['cover_img']}">
                <div class="buy-cases">
                    <div class="buy-cases-container">
                        <img src="__PUBLIC__/images/buy.png" class="click-buy-cases" cases_id="{$cases['id']}">
                        <p>点击购买</p>
                    </div>
                </div>
            </div>
        <?php endif; ?>
    </div>

    <div class="cases-comment">
        <div class="cases-comment-container">
            <?php if($user_photo): ?>
                <div class="comment-list">
                    <img src="{$user_photo}">
                    <div class="comment-info">
                        <div class="join-comment-input">
                            <textarea class="join-comment-content" rows="3" oninput="changeBtn(this)"></textarea>
                        </div>
                        <div class="join-comment-btn">
                            <span class="btn comment-cannot-submit btn-reply" cases_id="{$cases_id}">发 布</span>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <volist name="comment" id="vl">
                <div class="comment-list">
                    <img src="{$vl['photo']}">
                    <div class="comment-info">
                        <p class="info-user-nickname">{$vl['nickname']}</p>
                        <p class="comment-content">{$vl['content']}</p>
                        <p class="comment-created">
                            <?php echo date("Y-m-d H:i:s",$vl['created_at'])?>
                        </p>
                    </div>
                </div>
            </volist>
        </div>
        <div class="pagination-container">
                {$show}
        </div>
    </div>
</div>
<div class="message-modal">

</div>
<include file="Layouts:footer"/>