<include file="Layouts:header"/>
    <div id="top">
        <div class="top-info">
            <div class="top-log">
                <a href="{:U('Index/index')}">
                    <img src="__PUBLIC__/images/logo.png" />
                </a>
                <a>
                    <span>蜜罐</span>
                </a>
            </div>
            <?php if($user_nickname): ?>
            <p class="user-information">
                        <span>
                            <i>Hi!~</i>
                            <a href="{:U('Index/userInfo')}"><i class="user-nickname">{$user_nickname}</i></a>
                        </span>
                <span class="index-login-out">注销</span>
            </p>
            <?php else: ?>
            <div class="sign-login">
                <span class="sign">注册</span>
                <span class="login">登录</span>
            </div>
            <?php endif; ?>
            <h1 class="top-title">蜜罐，陪你做生活中的设计师</h1>
            <div class="top-search">
                <input class="index-search-text" type="text" placeholder="搜你喜欢的" />
                <i class="index-btn-search">
                    <img src="__PUBLIC__/images/search.png" >
                </i>
            </div>
            <div class="hot-tag">
                <span>热门搜索:</span>
                <span><a>植物</a></span>
                <span><a>插画</a></span>
                <span><a>插画</a></span>
            </div>
        </div>
    </div>
    <div id="middle-content">
    <div class="recommend-line">
        <i></i>
        <span>人气排行</span>
        <i></i>
    </div>
    <div class="hot-cases">
        <volist name="hot_cases" id="vl">
            <?php if($vl['style'] == 1): ?>
            <div class="cases-container">
                <div class="cases-img-details cases-details">
                    <a><img src="{$vl['cover_img']}"></a>
                </div>
                <div class="cases-info-details cases-details">
                    <p class="cases-sort" style="color:{$vl['color']}">
                        <i>{$vl['index']}</i>
                        <em>st</em>
                    </p>
                    <p class="cases-title">
                        {$vl['title']}
                    </p>
                    <p class="cases-count">
                        收藏数：{$vl['collect_count']}
                    </p>
                    <p class="cases-author">
                        <span>作者：</span>
                        <a>{$vl['nickname']}</a>
                    </p>
                </div>
            </div>
            <?php elseif($vl['style'] == 2): ?>
            <div class="cases-container">
                <div class="cases-info-details cases-details">
                    <p class="cases-sort" style="color:{$vl['color']}">
                        <i>{$vl['index']}</i>
                        <em>st</em>
                    </p>
                    <p class="cases-title">
                        {$vl['title']}
                    </p>
                    <p class="cases-count">
                        收藏数：{$vl['collect_count']}
                    </p>
                    <p class="cases-author">
                        <span>作者：</span>
                        <a>{$vl['nickname']}</a>
                    </p>
                </div>
                <div class="cases-img-details cases-details">
                    <a><img src="{$vl['cover_img']}"></a>
                </div>
            </div>
            <?php endif; ?>
        </volist>
    </div>
</div>
<include file="Layouts:footer"/>