<include file="Layouts:header"/>

    <div id="middle-content">
    <div class="recommend-line">
        <i></i>
        <span>人气排行</span>
        <i></i>
    </div>
    <div class="hot-cases">
        <div class="cases-container">
            <div class="cases-details">
                <img src="__PUBLIC__/images/test.jpg">
            </div>
            <div class="cases-details">
                <p class="cases-sort">
                    <i>1</i>
                    <em>st</em>
                </p>
                <p class="cases-title">
                    马来西亚风景
                </p>
                <p class="cases-count">
                    收藏数：
                </p>
                <p class="cases-author">
                    <span>作者：</span>
                    <a>花无缺</a>
                </p>
            </div>
        </div>
        <div class="cases-container">
            <div class="cases-details"></div>
            <div class="cases-details"></div>
        </div>
    </div>
</div>
<include file="Layouts:footer"/>