<include file="Layouts:header"/>
<div class="common-top">
    <div class="common-log">
        <a href="{:U('Index/index')}"><img src="__PUBLIC__/images/logo1.jpg" /></a>
        <span>蜜罐</span>
    </div>
    <?php if($user_nickname): ?>
    <div class="common-user-information">
        <span>
            <i>Hi!~</i>
            <a href="{:U('Index/userInfo')}"><i class="user-nickname">{$user_nickname}</i></a>
        </span>
        <span class="index-login-out">注销</span>
    </div>
    <?php else: ?>
    <div class="common-sign-login">
        <span class="sign">注册</span>
        <span class="login">登录</span>
    </div>
    <?php endif; ?>
</div>
<div class="search-middle">
    <div class="search-warp">
        <div class="search-box">
            <div class="search-input-container">
                <input class="search-key-word" type="text" placeholder="请输入标题" value="{$key_word}">
                <img class="search-btn" src="__PUBLIC__/images/search.jpg">
            </div>
            <div class="search-info">
                <p class="search-count">搜索图片：</p>
                <div class="search-type">
                    <i>排序：</i>
                    <?php if($order_type==1):?>
                    <span class="order-type order-type-active" order_type="1">最新</span>
                    <span class="order-type" order_type="2">最热</span>
                    <?php elseif($order_type==2):?>
                    <span class="order-type" order_type="1">最新</span>
                    <span class="order-type order-type-active" order_type="2">最热</span>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <div class="search-content-box">
            <volist name="cases" id="vl">
                <div class="search-content-list cases-list">
                    <a>
                        <img class="case-img" src="{$vl['cover_img']}">
                    </a>
                    <div class="operate-box">
                        <p class="cases-title">{$vl['title']}</p>
                        <div>
                            <img src="__PUBLIC__/images/collect.jpg">
                            <span>{$vl['collect_count']}</span>
                        </div>
                        <div>
                            <img src="__PUBLIC__/images/comment.jpg">
                            <span>{$vl['comment_count']}</span>
                        </div>
                    </div>
                </div>
            </volist>
        </div>
    </div>
    <div class="pagination-container">
        <div class="pagination">
            {$show}
        </div>
    </div>
</div>
<include file="Layouts:footer"/>